registry=https://registry.npmjs.org/
# //registry.npmjs.org/:_authToken=${TOKEN}

audit=true
fund=true
update-notifier=true
package-lock=true
save-exact=true
legacy-peer-deps=true
ignore-scripts=false
loglevel = warn
